body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #010035;
    padding: 14px 0;
    flex-wrap: wrap;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: #da7b00;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin: 5px 0;
    }
}
